.menu-button {
  position: relative;
}

.menu-button > svg {
  width: 24px;
  height: 24px;
  margin-top: 3px;
  cursor: pointer;
}

.MenuContainer {
  position: absolute;
  top: 53px;
  right: 0;
  width: 270px;
  background: rgb(84, 84, 84);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 12px 12px;
  border: 2px solid rgb(84, 84, 84);
  border-radius: 12px;
  padding: 16px;
  transition: opacity 0.2s;
  z-index: 99;
  opacity: 1;
  transform: translateX(0px);
  pointer-events: auto;
  inset-inline-start: unset;
  outline: 0;
}

.MenuHeader {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}

.MenuHeaderUserAvatar {
  width: 24px;
  height: 24px;
}

.MenuHeaderUserAvatar img {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.MenuHeaderUserName {
  flex: 1 1 0%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: white;
}

.MenuHeaderUserBtn {
  cursor: pointer;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.003em;
  color: rgb(161, 161, 161);
  font-family: Montserrat, sans-serif;
  font-style: normal;
}

.MenuContent {
  display: flex;
  flex-direction: column;
  gap: 16px;
  -webkit-tap-highlight-color: transparent;
}
.MenuItemWithToggle {
  display: flex;
  justify-content: space-between;
}
.MenuItem {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}
.IconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.iconDiver {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  margin-right: 12px;
  fill: transparent !important;
}
.MenuItem span {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: white;
}
.SwitchContainer {
  display: inline-block;
  position: relative;
  width: 28px;
  height: 17px;
}
.Slider {
  position: absolute;
  cursor: pointer;
  inset: 0px;
  background: rgba(255, 255, 255, 0.1);
  transition: 0.3s;
  border-radius: 34px;
}
.Slider::before {
  content: "";
  position: absolute;
  top: 1px;
  height: calc(100% - 2px);
  width: calc(60% - 1px);
  left: 1px;
  transition: 0.3s;
  border-radius: 50%;
  background: rgb(255, 255, 255);
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 0.1px 0.3px,
    rgba(0, 0, 0, 0.2) 0px 1px 2px;
}
.spacebar {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  margin-right: 12px;
}
.MenuLine {
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.1);
}
.PoweredText {
  color: rgb(161, 161, 161);
  margin-right: 9px;
}
.LogoInout {
  width: 62px;
  height: 20px;
}

@media (min-aspect-ratio: 110 / 100) {
  .MenuHowToPlay {
    display: none;
  }
}
